<%= form_for(@landmark) do |f| %>
  <% if @landmark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@landmark.errors.count, "error") %> prohibited this landmark from being saved:</h2>

      <ul>
      <% @landmark.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    名前<br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    緯度<br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    経度<br />
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    URL<br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    クイズ<br />
    <%= f.text_field :question %>
  </div>
  <div class="field">
    答1<br />
    <%= f.text_field :answer1 %>
  </div>
  <div class="field">
    答2<br />
    <%= f.text_field :answer2 %>
  </div>
  <div class="field">
    答3<br />
    <%= f.text_field :answer3 %>
  </div>
  <div class="field">
    正解番号<br />
    <%= f.number_field :correct %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
