<h1>ランドマーク一覧</h1>
登録数：<%= @landmarks.count %>件

<table>
  <tr>
    <th>名前</th>
    <th>緯度・経度</th>
    <th>URL</th>
    <th>タグ</th>
    <th>クイズ</th>
    <th>答1</th>
    <th>答2</th>
    <th>答3</th>
    <th>正解番号</th>
    <th>作成者</th>
    <th></th>
    <th></th>
  </tr>

<% @landmarks.each do |landmark| %>
  <tr>
    <td><%= landmark.name %></td>
    <td><%= landmark.latitude %>,<%= landmark.longitude %></td>
    <td><%= link_to landmark.url, landmark.url, target: "_blank" %></td>
    <td><%= join_tags(landmark) %></td>
    <td><%= landmark.question %></td>
    <td><%= landmark.answer1 %></td>
    <td><%= landmark.answer2 %></td>
    <td><%= landmark.answer3 %></td>
    <td><%= landmark.correct %></td>
    <td><%= landmark.author %></td>
    <td><%= link_to '詳細表示', landmark %></td>
    <td><%= link_to '編集', edit_landmark_path(landmark) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '新規作成', new_landmark_path %>
