<h1>ランドマーク一覧</h1>

<table>
  <tr>
    <th>名前</th>
    <th>緯度</th>
    <th>経度</th>
    <th>URL</th>
    <th>クイズ</th>
    <th>答1</th>
    <th>答2</th>
    <th>答3</th>
    <th>正解番号</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @landmarks.each do |landmark| %>
  <tr>
    <td><%= landmark.name %></td>
    <td><%= landmark.latitude %></td>
    <td><%= landmark.longitude %></td>
    <td><%= landmark.url %></td>
    <td><%= landmark.question %></td>
    <td><%= landmark.answer1 %></td>
    <td><%= landmark.answer2 %></td>
    <td><%= landmark.answer3 %></td>
    <td><%= landmark.correct %></td>
    <td><%= link_to '詳細表示', landmark %></td>
    <td><%= link_to '編集', edit_landmark_path(landmark) %></td>
    <td><%= link_to '削除', landmark, method: :delete,
      data: { confirm: '削除してよろしいですか？' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '新規作成', new_landmark_path %>
