<p id="notice"><%= notice %></p>

<p>
  <b>名前:</b>
  <%= @landmark.name %>
</p>

<p>
  <b>緯度:</b>
  <%= @landmark.latitude %>
</p>

<p>
  <b>経度:</b>
  <%= @landmark.longitude %>
</p>

<p>
  <b>URL:</b>
  <%= link_to @landmark.url, @landmark.url, target: "_blank" %>
</p>

<p>
  <b>クイズ:</b>
  <%= @landmark.question %>
</p>

<p>
  <b>答1:</b>
  <%= @landmark.answer1 %>
</p>

<p>
  <b>答2:</b>
  <%= @landmark.answer2 %>
</p>

<p>
  <b>答3:</b>
  <%= @landmark.answer3 %>
</p>

<p>
  <b>正解番号:</b>
  <%= @landmark.correct %>
</p>

<p>
  <b>作成者</b>
  <%= @landmark.author %>
</p>

<h2>タグ</h2>
<% @landmark.tags.each do |tag| %>
  <p>
    <%= tag.name %>
  </p>
<% end %>

<%= link_to '編集', edit_landmark_path(@landmark) %> |
<%= link_to '戻る', landmarks_path %>
