<p id="notice"><%= notice %></p>

<p>
  <b>名前:</b>
  <%= @landmark.name %>
</p>

<p>
  <b>緯度:</b>
  <%= @landmark.latitude %>
</p>

<p>
  <b>経度:</b>
  <%= @landmark.longitude %>
</p>

<p>
  <b>URL:</b>
  <%= link_to @landmark.url, @landmark.url, target: "_blank" %>
</p>

<p>
  <b>クイズ:</b>
  <%= @landmark.question %>
</p>

<p>
  <b>答1:</b>
  <%= @landmark.answer1 %>
</p>

<p>
  <b>答2:</b>
  <%= @landmark.answer2 %>
</p>

<p>
  <b>答3:</b>
  <%= @landmark.answer3 %>
</p>

<p>
  <b>正解番号:</b>
  <%= @landmark.correct %>
</p>

<p>
  <b>作成者</b>
  <%= @landmark.author %>
</p>

<h2>キーワード</h2>
<% @landmark.keywords.each do |keyword| %>
  <p>
    <%= keyword.body %>
    <%= link_to '削除', [@landmark, keyword],
                :confirm => '削除してよろしいですか？', :method => :delete %>
  </p>
<% end %>

<h2>キーワード追加:</h2>
<%= form_for([@landmark, @landmark.keywords.build]) do |f| %>
  <div class="field">
    <%= f.text_field :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to '編集', edit_landmark_path(@landmark) %> |
<%= link_to '戻る', landmarks_path %>
